[Unit]
Description=Versioning System for Docker Volumes
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/volumetric-checkout
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
